<div class="table-wrapper-scroll-y my-custom-scrollbar">

  <table class="table table-bordered table-striped mb-0">
    <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Date</th>
        <th>Status</th>
        <th>Block</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of taskList" >
        <td>{{task?.id}}</td>
        <td>{{task?.title}}</td>
        <td>{{task?.date}}</td>
        <td>{{task?.status ? 'Complete':'Watting'}}</td>
        <td>{{task?.block}}</td>
        <td>
          
          <button type="button" class="btn btn-default" (click)="upDate(task)">Update</button>
          
          <button type="button" class="btn btn-default" (click)="delete(task.id)">Detele</button>
          
        </td>
      </tr>
    </tbody>
  </table>

</div>


<form >
  <legend>New task</legend>

  <div class="form-group">
    <label for="">Title</label>
    <input type="text" class="form-control" id="" placeholder="Title" [(ngModel)]="title"
      [ngModelOptions]="{standalone: true}">
  </div>

  <div class="form-group">
    <label for="">Date</label>
    <input type="date" class="form-control" id="" placeholder="Input field" [(ngModel)]="date"
      [ngModelOptions]="{standalone: true}">
  </div>

  <div class="form-group">
    <label for="">Status</label>
    <select name="" id="input" class="form-control" required="required" [(ngModel)]="status"
      [ngModelOptions]="{standalone: true}">
      <option value="true">Complete</option>
      <option value="false">Watting</option>
    </select>
  </div>

  <div class="form-group">
    <label for="">Block</label>
    <input type="text" class="form-control" id="" placeholder="Block" [(ngModel)]="block"
      [ngModelOptions]="{standalone: true}">
  </div>
  <button type="submit" class="btn btn-primary" (click)="addTask()">Add</button>
</form>
<!---->
<form *ngIf="taskEdit">
    <legend>Edit task</legend>
  
    <div class="form-group">
      <label for="">Title</label>
      <input type="text" class="form-control" id=""  [(ngModel)]="taskEdit.title"
        [ngModelOptions]="{standalone: true}">
    </div>
  
    <div class="form-group">
      <label for="">Date</label>
      <input type="text" class="form-control" id=""  [(ngModel)]="taskEdit.date"
        [ngModelOptions]="{standalone: true}">
    </div>
  
    <div class="form-group">
      <label for="">Status</label>
      <select name="" id="input" class="form-control"  [(ngModel)]="taskEdit.status"
        [ngModelOptions]="{standalone: true}">
        <option value="true">Complete</option>
        <option value="false">Watting</option>
      </select>
    </div>
  
    <div class="form-group">
      <label for="">Block</label>
      <input type="text" class="form-control" id=""  [(ngModel)]="taskEdit.block"
        [ngModelOptions]="{standalone: true}">
    </div>
    <button type="submit" class="btn btn-primary" (click)="saveTask()">Save</button>
  </form>
